# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\pombo\anaconda3\envs\snowflakes2\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\pombo\anaconda3\envs\snowflakes2\lib\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient
import warnings
warnings.filterwarnings('ignore')
cursor = MongoClient('mongodb://localhost:27017')

In [3]:
db=cursor.companies
colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
# Your Code
query={'name': 'Babelgum'}

filtro={'name': True,  '_id': False}


list(colec.find(query, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
# Your Code

query={'number_of_employees': {'$gt':5000}}

filtro={'name': True,'number_of_employees': True,  '_id': False}


list(colec.find(query, filtro).limit(20).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
# Your Code

query={'$and': [{'founded_year': {'$gt':2000}},{'founded_year': {'$lt':2005}}]}

filtro={'name': True,'founded_year': True,  '_id': False}


list(colec.find(query, filtro).limit(10).sort('founded_year',-1))

[{'name': 'Pando Networks', 'founded_year': 2004},
 {'name': 'Jobster', 'founded_year': 2004},
 {'name': 'blinkx', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'AllPeers', 'founded_year': 2004},
 {'name': 'KickApps', 'founded_year': 2004},
 {'name': 'Yelp', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'AddThis', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
# Your Code

query={'$and': [{'ipo.valuation_amount': {'$gt':10e8}},{'founded_year': {'$lt':2010}}]}



filtro={'name': True,'ipo': True,  '_id': False}


list(colec.find(query, filtro).limit(5).sort('ipo.valuation_amount',-1))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
# Your Code

query={'$and': [{'founded_year': {'$lt':2005}},{'number_of_employees': {'$lt':1000}}]}



filtro={'name': True,'number_of_employees': True,'founded_year': True,  '_id': False}


list(colec.find(query, filtro).limit(10).sort('number_of_employees',-1))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [9]:
# Your Code


query={'partners': None}

filtro={'name': True,'partners' : True,  '_id': False}


list(colec.find(query, filtro).limit(10).sort('name',1))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [10]:
# Your Code

query={'category_code': None}

filtro={'name': True,'category_code' : True,  '_id': False}


list(colec.find(query, filtro).limit(10).sort('name',1))

[{'name': '(fluff)Friends', 'category_code': None},
 {'name': '100for100 Web Hosting', 'category_code': None},
 {'name': '111pix', 'category_code': None},
 {'name': '12 Inch Design', 'category_code': None},
 {'name': '123i', 'category_code': None},
 {'name': '12snap Mobile Advertising and Entertainment',
  'category_code': None},
 {'name': '140it', 'category_code': None},
 {'name': '1938 Media', 'category_code': None},
 {'name': '2Bmates', 'category_code': None},
 {'name': '2Vouch', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [11]:
# Your Code

query={'$and': [{'number_of_employees': {'$lt':1000}},{'number_of_employees': {'$gt':100}}]}



filtro={'name': True,'number_of_employees': True,  '_id': False}


list(colec.find(query, filtro).limit(10).sort('number_of_employees',-1))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
# Your Code

query={}

filtro={'name': True,'ipo': True,  '_id': False}

list(colec.find(query, filtro).limit(5).sort('ipo.valuation_amount',-1))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [13]:
# Your Code

query={}

filtro={'name': True,'number_of_employees': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 10 companies.

In [14]:
# Your Code

query={'founded_month': {'$gt':6}}

filtro={'name': True,'founded_month': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('name',1))

[{'name': '1 to 101', 'founded_month': 8},
 {'name': '1 to 101', 'founded_month': 8},
 {'name': '1000MIKES', 'founded_month': 11},
 {'name': '101 Holidays', 'founded_month': 11},
 {'name': '10to1', 'founded_month': 7},
 {'name': '148Apps', 'founded_month': 7},
 {'name': '1Scan', 'founded_month': 10},
 {'name': '2 Minutes', 'founded_month': 10},
 {'name': '20:20 Mobile', 'founded_month': 9},
 {'name': '20DC', 'founded_month': 7}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [15]:
# Your Code

query={'$and': [{'founded_year': {'$lt':2000}},{'acquisition.price_amount': {'$gt':1e7}}]}

filtro={'name': True,'founded_year': True,'acquisition.price_amount': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('founded_year',-1))

[{'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'MIVA',
  'founded_year': 1999,
  'acquisition': {'price_amount': 11600000}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Kaboose',
  'founded_year': 1999,
  'acquisition': {'price_amount': 18400000}},
 {'name': 'PriceGrabber',
  'founded_year': 1999,
  'acquisition': {'price_amount': 485000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [16]:
# Your Code

query={'acquisition.acquired_year': {'$gt':2010}}

filtro={'name': True,'acquisition': True,  '_id': False}

list(colec.find(query, filtro).limit(3).sort('acquisition.acquired_year',-1))

[{'name': 'Alverix',
  'acquisition': {'price_amount': 40000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://ir.safeguard.com/investor-relations/press-releases/press-release-details/2014/Safeguard-Scientifics-Partner-Company-Alverix-Acquired-by-BD/default.aspx',
   'source_description': 'Safeguard Scientifics Partner Company Alverix Acquired by BD',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Becton Dickinson',
    'permalink': 'becton-dickinson'}}},
 {'name': 'Nullsoft',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2014/01/01/aol-sells-winamp-and-shoutcast-music-services-to-online-radio-aggregator-radionomy/',
   'source_description': 'AOL Sells Winamp And Shoutcast Music Services To Online Radio Aggregator Radionomy',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': None,
   'acquiring_company': {'name': 'Radionomy', 'permalink': 'radionomy'}}},
 {'name': 'Sense Networks',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2014/01/06/yp-acquires-sense-networks/',
   'source_description': 'In Its First Acquisition, YP Buys Mobile Ad Company Sense Networks',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': 6,
   'acquiring_company': {'name': 'YP', 'permalink': 'yp-2'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [17]:
# Your Code


query={}

filtro={'name': True,'founded_year': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('founded_year',-1))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [18]:
# Your Code

query={'founded_day': {'$lt':8}}

filtro={'name': True,'founded_day': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('acquisition.price_amount',-1))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [19]:
# Your Code

query={'$and': [{'category_code': 'web'},{'number_of_employees': {'$gt':4000}}]}

filtro={'name': True,'number_of_employees': True,'category_code': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('number_of_employees',1))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [20]:
# Your Code

query={'$and': [{'acquisition.price_amount': {'$gt':1e7}},{'acquisition.price_currency_code': 'EUR'}]}

filtro={'name': True,'acquisition.price_amount': True,'acquisition.price_currency_code': True,  '_id': False}

list(colec.find(query, filtro).limit(10).sort('acquisition.price_amount',-1))

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [21]:
# Your Code

query={'acquisition.acquired_month': {'$lt':4}}

filtro={'name': True,'acquisition': True,  '_id': False}

list(colec.find(query, filtro).limit(3))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [22]:
# Your Code

query={'$and': [{'founded_year': {'$lt':2010}},{'founded_year': {'$gt':2000}},{'acquisition.acquired_year':{'$not': {'$lt':2011}}}]}

filtro={'name': True,'founded_year': True, 'acquisition.acquired_year': True, '_id': False}

list(colec.find(query, filtro).limit(10).sort('founded_year',-1))

[{'name': 'Mobovivo', 'founded_year': 2009},
 {'name': 'Handipoints', 'founded_year': 2009},
 {'name': 'Macroaxis', 'founded_year': 2009},
 {'name': 'TeamSnap', 'founded_year': 2009},
 {'name': 'Crootpad', 'founded_year': 2009},
 {'name': 'Trunkt',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Stagevu', 'founded_year': 2009},
 {'name': 'Supercool School', 'founded_year': 2009},
 {'name': 'Ninite', 'founded_year': 2009},
 {'name': 'alluc', 'founded_year': 2009}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [35]:
# Your Code


query={'deadpooled_year': {'$gt':3}}     ###No he conseguido restar founded_year a deadpooled_year...

filtro={'name': True,'deadpooled_year': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008},
 {'name': 'EQO', 'deadpooled_year': 2012}]