# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
#%pip install pymongo

import warnings
warnings.filterwarnings('ignore')

from pymongo import MongoClient

str_conn='mongodb://localhost:27017'

client = MongoClient(str_conn)

In [2]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

In [3]:
db = client.companies

In [4]:
db.list_collection_names

In [5]:
colec = db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [6]:
# Your Code

query = {'name': 'Babelgum'}
filtro = {'name': True, '_id': False}
list(colec.find(query, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
# Your Code
query = {'number_of_employees': {'$gt':5000}}
filtro = {'number_of_employees': True, 'name': True, '_id': False}
list(colec.find(query, filtro).limit(20))

[{'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'The Walt Disney Company', 'number_of_employees': 25000},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Sun Microsystems', 'number_of_employees': 33350},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Microsoft', 'number_of_employees': 90000},
 {'name': 'Apple', 'number_of_employees': 80000},
 {'name': 'NetApp', 'number_of_employees': 8000},
 {'name': 'Motorola Solutions', 'number_of_employees': 51000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [8]:
# Your Code
query = {'$and':[{'founded_year': {'$lte': 2005}},
                         {'founded_year': {'$gte': 2000}}]}
filtro = {'name': True, 'founded_year': True, '_id': False}
list(colec.find(query, filtro).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4.All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the name and ipo fields.

In [9]:
# Your Code
query = {'$and':[{'founded_year': {'$lt': 2010}},
                         {'ipo.valuation_amount': {'$gte': 100000000}}]}
filtro = {'name': True, 'ipo': True, '_id': False}
list(colec.find(query, filtro).limit(5))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [10]:
# Your Code
query = {'$and':[{'number_of_employees': {'$lt': 1000}},
                         {'founded_year': {'$lte': 2005}}]}
filtro = {'name': True, 'number_of_employees': True, 'founded_year': True, '_id': False}
list(colec.find(query,filtro).sort('number_of_employees').limit(10))

[{'name': 'YouTube', 'number_of_employees': 0, 'founded_year': 2005},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'PartnerUp', 'number_of_employees': 0, 'founded_year': 2005},
 {'name': 'Bebo', 'number_of_employees': 0, 'founded_year': 2005},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Attributor', 'number_of_employees': 0, 'founded_year': 2005},
 {'name': 'Yeigo', 'number_of_employees': 0, 'founded_year': 2005},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003}]

### 6. All the companies that don't include the `partners` field.

In [11]:
# Your Code
query = {'partners' : {'$exists' : 'false' }}
filtro = {'partners': True, '_id': False, 'name': True}
list(colec.find(query,filtro).limit(5))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [12]:
# Your Code
query={'category_code': {'$type':10}}
filtro = {'category_code': True, 'name': True, '_id': False}
list(colec.find(query,filtro).limit(3))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [13]:
# Your Code
query = {'$and':[{'number_of_employees': {'$lt': 1000}},
                         {'number_of_employees': {'$gt': 100}}]}
filtro = {'name': True, 'number_of_employees': True, '_id': False}
list(colec.find(query,filtro).sort('number_of_employees').limit(5))

[{'name': 'Jedox', 'number_of_employees': 101},
 {'name': 'KAYAK', 'number_of_employees': 101},
 {'name': 'OfficialVirtualDJ', 'number_of_employees': 102},
 {'name': 'OSA Technologies', 'number_of_employees': 102},
 {'name': 'GoGrid', 'number_of_employees': 102}]

### 9. Order all the companies by their IPO price in a descending order.

In [14]:
# Your Code
query = {'ipo.valuation_amount': {'$ne' : 'None' }}
filtro = {'name': True, 'ipo.valuation_amount': True, '_id': False}
list(colec.find(query,filtro).sort('ipo.valuation_amount', -1).limit(5))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [15]:
# Your Code
query = {'number_of_employees': {'$ne' : 'None' }}
filtro = {'name': True, 'number_of_employees': True, '_id': False}
list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [16]:
# Your Code
query = {'$and':[{'founded_month': {'$lte': 12}},
                         {'founded_month': {'$gte': 7}}]}
filtro = {'name': True, 'founded_month': True, '_id': False}
list(colec.find(query,filtro).sort('founded_month').limit(10))

[{'name': 'MeeVee', 'founded_month': 7},
 {'name': 'Yapta', 'founded_month': 7},
 {'name': 'GigaOM', 'founded_month': 7},
 {'name': 'Pando Networks', 'founded_month': 7},
 {'name': 'Yelp', 'founded_month': 7},
 {'name': 'Cyworld', 'founded_month': 7},
 {'name': 'Ujogo', 'founded_month': 7},
 {'name': 'Terabitz', 'founded_month': 7},
 {'name': 'Jaiku', 'founded_month': 7},
 {'name': 'iContact', 'founded_month': 7}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [17]:
# Your Code
query = {'$and':[{'founded_year': {'$lt': 2000}},
                         {'acquisition.price_amount': {'$gt': 10000000}}]}
filtro = {'name': True, 'founded_year': True, '_id': False}
list(colec.find(query,filtro).sort('founded_year').limit(10))

[{'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'Stiefel', 'founded_year': 1847},
 {'name': 'Xerox', 'founded_year': 1906},
 {'name': 'Unilever', 'founded_year': 1930},
 {'name': 'Unilever', 'founded_year': 1930},
 {'name': 'Veeco Instruments', 'founded_year': 1945},
 {'name': 'National Semiconductor', 'founded_year': 1959},
 {'name': 'Sabre', 'founded_year': 1960},
 {'name': 'Metrologic Instruments', 'founded_year': 1968}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [18]:
# Your Code
query = {'acquisition.acquired_year': {'$gt': 2010}}
filtro = {'name': True, 'acquisition.price_amount': True, '_id': False}
list(colec.find(query,filtro).sort('price_amount').limit(10))

[{'name': 'blogTV', 'acquisition': {'price_amount': None}},
 {'name': 'Mashery', 'acquisition': {'price_amount': None}},
 {'name': 'Geni', 'acquisition': {'price_amount': None}},
 {'name': 'delicious', 'acquisition': {'price_amount': None}},
 {'name': 'iContact', 'acquisition': {'price_amount': 169000000}},
 {'name': 'Jingle Networks', 'acquisition': {'price_amount': 62500000}},
 {'name': 'Wetpaint', 'acquisition': {'price_amount': 30000000}},
 {'name': 'Digg', 'acquisition': {'price_amount': 500000}},
 {'name': 'Kyte', 'acquisition': {'price_amount': None}},
 {'name': 'Revision3', 'acquisition': {'price_amount': 30000000}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [19]:
# Your Code
query = {'founded_year': {'$ne': 'None'}}
filtro = {'name': True, 'founded_year': True, '_id': False}
list(colec.find(query,filtro).sort('founded_year', -1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [20]:
# Your Code
query = {'$and':[{'founded_day': {'$lte': 7}},{'acquisition.price_amount':{'$ne': 'None'}}]}
filtro = {'name': True, 'founded_day': True, 'acquisition.price_amount': True, '_id': False}
list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [21]:
# Your Code
query = {'$and':[{'category_code': 'web'},{'number_of_employees':{'$gt': 4000}}]}
filtro = {'name': True, 'number_of_employees': True, 'category': True, '_id': False}
list(colec.find(query,filtro).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [22]:
# Your Code
query = {'$and':[{'acquisition.price_amount': {'$gt': 1000000}},{'acquisition.price_currency_code':'EUR'}]}
filtro = {'name': True, 'acquisition.price_amount': True, 'acquisition.price_currency_code': True, '_id': False}
list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Mobile Trend',
  'acquisition': {'price_amount': 7000000, 'price_currency_code': 'EUR'}},
 {'name': 'Branded Payment Solutions',
  'acquisition': {'price_amount': 3100000, 'price_currency_code': 'EUR'}},
 {'name': 'YelloYello',
  'acquisition': {'price_amount': 2500000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [23]:
# Your Code
query = {'acquisition.acquired_month': {'$lte': 3}}
filtro = {'name': True, 'acquisition.acquired_month': True, '_id': False}
list(colec.find(query,filtro).sort('acquisition.acquired_month', 1).limit(10))

[{'name': 'Ticketmaster', 'acquisition': {'acquired_month': 1}},
 {'name': 'BillMonk', 'acquisition': {'acquired_month': 1}},
 {'name': 'Filtrbox', 'acquisition': {'acquired_month': 1}},
 {'name': 'Six Apart', 'acquisition': {'acquired_month': 1}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'Quattro Wireless', 'acquisition': {'acquired_month': 1}},
 {'name': 'Buzzmetrics', 'acquisition': {'acquired_month': 1}},
 {'name': 'Flock', 'acquisition': {'acquired_month': 1}},
 {'name': 'Zenfolio', 'acquisition': {'acquired_month': 1}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [24]:
# Your Code
query = {'$and':[{'founded_year': {'$gte': 2000}},{'founded_year':{'$lte': 2010}},{'acquisition.acquired_year':{'$gte': 2011}}]}
filtro = {'name': True, 'founded_year': True, 'acquisition.acquired_year': True, '_id': False}
list(colec.find(query,filtro).sort('founded_year',1).limit(10))

[{'name': 'Bestofmedia Group',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Zong',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Astaro',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'WooMe',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Smilebox',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Axis',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Axis',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Handmark',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'SnapNames',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'SelectMinds',
  'founded_year': 2000,
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been ‘deadpooled’ after the third year

In [27]:
query = {'deadpooled_year': {'$gt': 3}}
filtro = {'name': True, 'deadpooled_year': True, '_id': False}
list(colec.find(query,filtro).sort('deadpooled_year', 1).limit(10))

[{'name': 'Weblogs', 'deadpooled_year': 1963},
 {'name': 'Bookrags', 'deadpooled_year': 1991},
 {'name': 'Ardesic', 'deadpooled_year': 2001},
 {'name': 'sportgate AG', 'deadpooled_year': 2001},
 {'name': 'Excite@Home', 'deadpooled_year': 2001},
 {'name': 'Webvan', 'deadpooled_year': 2001},
 {'name': 'adBrite', 'deadpooled_year': 2001},
 {'name': 'RealNames', 'deadpooled_year': 2002},
 {'name': 'SpongeFish', 'deadpooled_year': 2003},
 {'name': 'MediaRush', 'deadpooled_year': 2004}]