# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\nonito\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\nonito\anaconda3\lib\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

import warnings
warnings.filterwarnings('ignore')

client = MongoClient()

str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db=cursor.companies

colec=db.companies

colec

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies'), 'companies')

In [4]:
list(colec.find().limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'permalink': 'abc2',
  'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
  'homepage_url': 'http://wetpaint-inc.com',
  'blog_url': 'http://digitalquarters.net/',
  'blog_feed_url': 'http://digitalquarters.net/feed/',
  'twitter_username': 'BachelrWetpaint',
  'category_code': 'web',
  'number_of_employees': 47,
  'founded_year': 2005,
  'founded_month': 10,
  'founded_day': 17,
  'deadpooled_year': 1,
  'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
  'alias_list': '',
  'email_address': 'info@wetpaint.com',
  'phone_number': '206.859.6300',
  'description': 'Technology Platform Company',
  'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
  'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
  'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
  'image': {'available_sizes': [[[150, 75],
     'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
    [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
    [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
  'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
   {'name': 'Wetpaint Social Distribution System',
    'permalink': 'wetpaint-social-distribution-system'}],
  'relationships': [{'is_past': False,
    'title': 'Co-Founder and VP, Social and Audience Development',
    'person': {'first_name': 'Michael',
     'last_name': 'Howell',
     'permalink': 'michael-howell'}},
   {'is_past': False,
    'title': 'Co-Founder/CEO/Board of Directors',
    'person': {'first_name': 'Ben',
     'last_name': 'Elowitz',
     'permalink': 'ben-elowitz'}},
   {'is_past': False,
    'title': 'COO/Board of Directors',
    'person': {'first_name': 'Rob',
     'last_name': 'Grady',
     'permalink': 'rob-grady'}},
   {'is_past': False,
    'title': 'SVP, Strategy and Business Development',
    'person': {'first_name': 'Chris',
     'last_name': 'Kollas',
     'permalink': 'chris-kollas'}},
   {'is_past': False,
    'title': 'Board',
    'person': {'first_name': 'Theresia',
     'last_name': 'Ranzetta',
     'permalink': 'theresia-ranzetta'}},
   {'is_past': False,
    'title': 'Board Member',
    'person': {'first_name': 'Gus',
     'last_name': 'Tai',
     'permalink': 'gus-tai'}},
   {'is_past': False,
    'title': 'Board',
    'person': {'first_name': 'Len',
     'last_name': 'Jordan',
     'permalink': 'len-jordan'}},
   {'is_past': False,
    'title': 'Head of Technology and Product',
    'person': {'first_name': 'Alex',
     'last_name': 'Weinstein',
     'permalink': 'alex-weinstein'}},
   {'is_past': True,
    'title': 'CFO',
    'person': {'first_name': 'Bert',
     'last_name': 'Hogue',
     'permalink': 'bert-hogue'}},
   {'is_past': True,
    'title': 'CFO/ CRO',
    'person': {'first_name': 'Brian',
     'last_name': 'Watkins',
     'permalink': 'brian-watkins'}},
   {'is_past': True,
    'title': 'Senior Vice President, Marketing',
    'person': {'first_name': 'Rob',
     'last_name': 'Grady',
     'permalink': 'rob-grady'}},
   {'is_past': True,
    'title': 'VP, Technology and Product',
    'person': {'first_name': 'Werner',
     'last_name': 'Koepf',
     'permalink': 'werner-koepf'}},
   {'is_past': True,
    'title': 'VP Marketing',
    'person': {'first_name': 'Kevin',
     'last_name': 'Flaherty',
     'permalink': 'kevin-flaherty'}},
   {'is_past': True,
    'title': 'VP User Experience',
    'person': {'first_name': 'Alex',
     'last_name': 'Berg',
     'permalink': 'alex-berg'}},
   {'is_past': True,
    'title': 'VP Engineering',
    'person': {'first_name': 'Steve',
     'last_name': 'McQuade',
     'permalink': 'steve-mcquade'}},
   {'is_past': True,
    'title': 'Executive Editor',
    'person': {'first_name': 'Susan',
     'last_name': 'Mulcahy',
     'permalink': 'susan-mulcahy'}},
   {'is_past': True,
    'title': 'VP Business Development',
    'person': {'first_name': 'Chris',
     'last_name': 'Kollas',
     'permalink': 'chris-kollas'}}],
  'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
   {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
   {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
   {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
   {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
   {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
   {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
   {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
  'providerships': [],
  'total_money_raised': '$39.8M',
  'funding_rounds': [{'id': 888,
    'round_code': 'a',
    'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
    'source_description': '',
    'raised_amount': 5250000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 10,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None}]},
   {'id': 889,
    'round_code': 'b',
    'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
    'source_description': '',
    'raised_amount': 9500000,
    'raised_currency_code': 'USD',
    'funded_year': 2007,
    'funded_month': 1,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': {'name': 'Accel Partners',
       'permalink': 'accel-partners'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None}]},
   {'id': 2312,
    'round_code': 'c',
    'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
    'source_description': 'Accel',
    'raised_amount': 25000000,
    'raised_currency_code': 'USD',
    'funded_year': 2008,
    'funded_month': 5,
    'funded_day': 19,
    'investments': [{'company': None,
      'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Accel Partners',
       'permalink': 'accel-partners'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None}]}],
  'investments': [],
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '710 - 2nd Avenue',
    'address2': 'Suite 1100',
    'zip_code': '98104',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.603122,
    'longitude': -122.333253},
   {'description': '',
    'address1': '270 Lafayette Street',
    'address2': 'Suite 505',
    'zip_code': '10012',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7237306,
    'longitude': -73.9964312}],
  'milestones': [{'id': 5869,
    'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
    'stoned_year': 2010,
    'stoned_month': 6,
    'stoned_day': 8,
    'source_url': 'http://www.lead411.com/seattle-companies.html',
    'source_text': None,
    'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
   {'id': 8702,
    'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
    'stoned_year': 2010,
    'stoned_month': 9,
    'stoned_day': 6,
    'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
    'source_text': None,
    'source_description': 'All Things D',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
  'video_embeds': [],
  'screenshots': [{'available_sizes': [[[150, 86],
      'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
     [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
     [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
    'attribution': None}],
  'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
    'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
   {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
    'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
   {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
    'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
   {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
    'title': 'Guest post by CEO Ben Elowitz in AdAge'},
   {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
    'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
   {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
    'title': 'AllFacebook coverage of Wetpaint'},
   {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
    'title': 'Profile of Wetpaint in Ad Age'},
   {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
    'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
   {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
    'title': 'Profile of Wetpaint in Xconomy'}],
  'partners': []}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
query={'name': 'Babelgum'}

filtro={'name': True, '_id': False}


list(colec.find(query, filtro).limit(10))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [6]:
query={'number_of_employees': {'$gt': 5000}}

filtro={'name': True, 'number_of_employees': True, '_id': False}


list(colec.find(query, filtro).limit(20).sort('number_of_employees', -1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
query={'$and': 
       [{'founded_year': {'$gte': 2000} },{'founded_year': {'$lte': 2005}}]
       }

filtro={'name': True, 'founded_year': True, '_id': False}


list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
query={'$and': 
       [{'founded_year': {'$lt': 2010} },{'ipo.valuation_amount': {'$gt': 1e8}}]
       }

filtro={'name': True, 'ipo': True, '_id': False}


list(colec.find(query, filtro).limit(3))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [9]:
query={'$and': 
       [{'founded_year': {'$lt': 2005} },{'number_of_employees': {'$lt': 1e3}}]
       }

filtro={'name': True, 'number_of_employees': True, '_id': False, 'founded_year': True}


list(colec.find(query, filtro).limit(10).sort('number_of_employees', -1))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [10]:
query={'partners': {'$exists': False}}


filtro={'name': True, '_id': False }


list(colec.find(query, filtro).limit(10))

# El campo partners existe en todos, aunque estén vacíos o contengan datos, pero existe.

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
query={'category_code': None}

filtro={'name': True, '_id': False,}


list(colec.find(query, filtro).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [12]:
query={'number_of_employees': {'$lte': 1000} }       

filtro={'name': True, 'number_of_employees': True, '_id': False}


list(colec.find(query, filtro).limit(10).sort('number_of_employees', -1))

[{'name': 'Sonus Networks', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'ERG Transit Systems', 'number_of_employees': 1000},
 {'name': 'Akamai Technologies', 'number_of_employees': 1000},
 {'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Yatra online', 'number_of_employees': 1000},
 {'name': 'Yodle', 'number_of_employees': 1000}]

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
filtro={'name': True, 'ipo': True, '_id': False}

list(colec.find('',filtro).sort('ipo.valuation_amount',-1).limit(5))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
filtro={'name': True, 'number_of_employees': True, '_id': False}


list(colec.find('', filtro).limit(10).sort('number_of_employees', -1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
query={'founded_month': {'$gte': 7} }       

filtro={'name': True, '_id': False}


list(colec.find(query, filtro).limit(10))

#Mil me parece too much

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [16]:
query={'$and': 
       [{'founded_year': {'$lt': 2000} },{'acquisition.price_amount': {'$gte': 1e7}}]
       }

filtro={'name': True, 'acquisition.price_amount': True, '_id': False}


list(colec.find(query, filtro).limit(3).sort('acquisition.price_amount', -1))

[{'name': 'BEA Systems', 'acquisition': {'price_amount': 8500000000}},
 {'name': 'Navteq', 'acquisition': {'price_amount': 8100000000}},
 {'name': 'Pixar', 'acquisition': {'price_amount': 7400000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
query={'acquisition.acquired_year': {'$gt': 2010} }

filtro={'name': True, 'acquisition': True, '_id': False}


list(colec.find(query, filtro).limit(3).sort('acquisition.price_amount', -1))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
filtro={'name': True, 'founded_year': True, '_id': False}


list(colec.find('', filtro).limit(10).sort('founded_year', -1))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [19]:
query={'founded_day': {'$lte': 7} }

filtro={'name': True, 'founded_day': True, 'acquisition.price_amount': True, '_id': False}


list(colec.find(query, filtro).limit(10).sort('acquisition.price_amount',-1))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [20]:
query={'$and': 
       [{'category_code': "web"} , {'number_of_employees': {'$gt': 4000}}]
       }

filtro={'name': True, 'number_of_employees': True, '_id': False}


list(colec.find(query, filtro).limit(10).sort('number_of_employees', 1))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [21]:
query={'$and': 
       [{'acquisition.price_currency_code': 'EUR'} , {'acquisition.price_amount': {'$gt': 1e7}}]
       }

filtro={'name': True, 'acquisition.price_amount': True, '_id': False}


list(colec.find(query, filtro).limit(10).sort('acquisition.price_amount',-1))

[{'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [22]:
query={'acquisition.acquired_month': {'$lte': 3} }

filtro={'name': True, 'acquisition': True, '_id': False}


list(colec.find(query, filtro).limit(3).sort('acquisition.price_amount', -1))

#Pongo solo tres

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'BEA Systems',
  'acquisition': {'price_amount': 8500000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.oracle.com/corporate/press/2008_jan/bea.html',
   'source_description': 'Oracle to Acquire BEA Systems',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Pixar',
  'acquisition': {'price_amount': 7400000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.pixar.com/companyinfo/about_us/overview.htm',
   'source_description': 'Pixar About Page',
   'acquired_year': 2006,
   'acquired_month': 1,
   'acquired_day': 24,
   'acquiring_company': {'name': 'The Walt Disney Company',
    'permalink': 'the-walt-disney-company'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [23]:
query={'$and': 
       [{'founded_year': {'$gte': 2000}} , {'founded_year': {'$lte': 2010}} ,{'acquisition.acquired_year': {'$gte': 2011}}]
       }

filtro={'name': True, 'founded_year': True, '_id': False}


list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Kyte', 'founded_year': 2006},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'blogTV', 'founded_year': 2006},
 {'name': 'delicious', 'founded_year': 2003},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'iContact', 'founded_year': 2003},
 {'name': 'Mashery', 'founded_year': 2006}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [24]:
import pandas as pd

query={'$and': 
       [{'founded_year': {'$gte': 1500}} ,{'deadpooled_year': {'$gte': 1500}}]
       }
filtro={'name': True, 'deadpooled_year': True, 'founded_year': True, '_id': False}


df=pd.DataFrame(list(colec.find(query, filtro)))

df.head()

        name  founded_year  deadpooled_year
0  Omnidrive          2005             2008
1   Babelgum          2007             2013
2    Sparter          2007             2008
3      Thoof          2006             2013
4     Wesabe          2005             2010

In [28]:
df['diff']=df.deadpooled_year-df.founded_year

In [35]:
df.head()

        name  founded_year  deadpooled_year  diff
0  Omnidrive          2005             2008     3
1   Babelgum          2007             2013     6
2    Sparter          2007             2008     1
3      Thoof          2006             2013     7
4     Wesabe          2005             2010     5

In [59]:
df = df.drop(df[df['diff'] > 3].index)

df.shape

print("271 empresas: ", list(df.name))

271 empresas:  ['Omnidrive', 'Sparter', 'Jangl SMS', 'Spotplex', 'TripUp', 'Fleck', 'Zooomr', 'TripHub', 'adBrite', 'WebbAlert', 'KnockaTV', 'EventVue', 'SlapVid', 'DotBlu', 'CrowdSpirit', 'GotStatus', 'IPartee', 'Iggli', 'BrightQube', 'BuzzDash', 'MatchMine', 'Predictify', 'Floobs', 'Needium', 'NebuAd', 'Zoji', 'YouOS', 'Utterz', 'Bahu', 'WeShow', 'PlayCafe', 'MOLI', 'MetaNotes', 'Weblogs', 'ClayValet', 'UGAME', 'China-8', 'LUNARR', 'Advaliant', 'openPeople', '8aweek', 'octabox', 'IShareWeShare', 'Pollsit', 'GenieTown', 'FameCast', 'JuicyCampus', 'Popularo', 'Aullo', 'Folkstr', 'Biographicon', 'Brijit', 'Ezmo', 'ScribeStorm', 'Snaptalent', 'Daikana', 'Arclight Media Technology', 'kwiry', 'Wundrbar', 'writewith', 'Moblica', 'CJReport', 'Pikum', 'Wakozi', 'Kublax', 'utoopia', 'PluggedIn', 'MediaScrape', 'StrawPoll', 'InGameNow', 'Zeer', 'RemindBlast', 'Supercool School', 'Wirama', 'Streamy', 'Weeno Media', 'Teen Media Productions', 'RabbleDabble', 'Admixture', 'hearwhere', 'Phreadz', 'Jowba', 'Cloudcity', 'Gamook', 'mymission2', 'International Liars Poker Association', 'Leaders2020', 'Vivaty', 'TeamStreamz', 'Trusera', 'GET Holding NV', 'Fashionspace', 'DriftToIt', 'FuseCal', 'SocialBrowse', 'SportsTwit', 'Wowuwu', 'PUDGIN', 'AltSearchEngines', 'Sonya Labs', 'Zyked', 'Woldme', 'PharmaNation', 'GlocalReach', 'Flowgram', 'Imara Corporation', 'Veedow', 'Kickplay', "We're Rolling", 'TagosGreen Business Community', 'Mapori', 'Event Innovation', 'Anthillz', 'Zorap', 'Agdersoft', 'GoYoDeo', 'Phrazit', 'Snipd', 'Statzen', 'OfferLounge', 'Prosperity Financial Services Pte Ltd', 'Ultimate Football Network', 'Galaxy', 'PicMe', 'My Best Interest', 'Divvy Systems', 'Geodelic Systems', 'iFavr', 'Valid', 'Status', 'cmypitch', 'GoYoDeo', 'Phrazit', 'Snipd', 'Statzen', 'OfferLounge', 'Prosperity Financial Services Pte Ltd', 'Ultimate Football Network', 'Galaxy', 'PicMe', 'My Best Interest', 'Divvy Systems', 'Geodelic Systems', 'iFavr', 'Valid', 'Status', 'cmypitch', "For Art's Sake Media", 'Linkbee', 'Videofropper', 'BuzzBuy', 'EyeSpot', 'One Season', 'Infima Technologies', 'Freebo', 'Socialfly', 'GoHoster', 'For Your Imagination', 'Sonichall', 'Mogees', 'QikCom', 'Tidalwave Trader', 'TasteSpace', 'Star Fever Agency', 'Mindity', 'BlogRush', 'mangofizz jobs', 'GetBack', 'HourVille', 'Ptch', 'Ecommo', 'TwentyFour6', 'Wizzgo', 'Dexmo', '1DayMakeover', 'Tellwiki', 'Livekick', 'Snappr', 'Twones', 'CitySpeek', 'HelpHive', 'twitTangle', 'Calisto100', 'Twitpay', 'twtcard', 'Twitter Tribune', 'PeopleRipple', 'Vibeex', 'Storytlr', "Trusty's", 'Digiprof', 'Veeda', 'Stiki Digital', 'D2C Games', 'ZinkoTek', 'LiveRSVP', 'Ohai', 'Dial a Dealer', 'UWantSavings', 'HealthLok', 'Bemba', 'Jobulous', 'Conformity', 'VisualPin', 'Veebox', 'LaunchMind', 'PopJam', 'Gridpop', 'PLUQ', 'HealthyTweet', 'Fliggo', 'Legal River', 'Kashless', 'Champions365', 'KidSwirl', 'documistic', 'North by South', 'iconDial', 'Qwiji', 'Tongxue', 'Skysheet', 'Nambii', 'Boring', 'Shopnics', 'Trendient', 'Ravant', 'PickPark', 'HowYouEco', 'CityAmigo', 'VidPay', 'TV Pixie', 'Broadersheet', 'Bomeiti', 'Jobzle', 'zembly', 'Keenpath', 'Zinkk', 'Service Beacon', 'BookTour', 'iSyndica', 'myGreek', 'Dream Village', 'View2Gether', 'Tempolib', 'Healogica', 'ePrivateHire', 'Zumbua', 'Beautiful People Society', 'Wi-Chi', 'Social Collective', 'ZodBod', 'Staaff', 'Dubspace', 'Infoflow', 'TweetWagon', 'Jomito', 'Four Colors', 'inversearch', 'Witel', 'Sprowtt Marketplace', 'Eclector', 'Siruna', 'TwtBks', 'LugIron Software', 'Revetto', 'Kerfuffle', 'Bonvoyagee', 'Bookrags', 'tribalX', 'Advanced Power Projects', 'OfficialVirtualDJ']