# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
%pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.2-cp39-cp39-win_amd64.whl (381 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pymongo import MongoClient

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

In [11]:
db=cursor.companies
colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
query = {'name': 'Babelgum'}

filtro = {'name':True,'_id': False}

list(colec.find(query,filtro))


#list(colec.find({'edad': {'$gt': 24}})) >>> WHERE edad>24;

# filtro={'name': True, 'category_code': True, '_id': False} SELECT : Selecciona cada una de las columnas a las que le vamos a aplicar el where

# list(colec.find(query, filtro)) Estructura query + filtro

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [20]:
query = {'number_of_employees': {'$gt': 5000}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(20)) #ordeno con .sort, limito con .limit

[{'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'},
 {'name': 'OpenText'},
 {'name': 'CPM Braxis'},
 {'name': 'LSI'},
 {'name': 'Microchip Technologies'},
 {'name': 'Mediaset'},
 {'name': 'Mindray Medical International'},
 {'name': 'Dentsu'},
 {'name': 'Atmel'},
 {'name': 'Tata Communications'},
 {'name': 'Baidu'},
 {'name': 'Acxiom'},
 {'name': 'Acxiom'},
 {'name': 'SRA International'},
 {'name': "Moody's"},
 {'name': 'ManTech'},
 {'name': 'Adobe Systems'},
 {'name': 'Broadcom'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [28]:
query ={'$and':[{'founded_year': {'$gte': 2000}}, 
                         {'founded_year': {'$lte': 2005}}]}  # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(20)) #ordeno con .sort, limito con .limit

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [136]:
query ={'$and':[{'acquisition.price_amount': {'$gt': 1e8}}, 
                {'founded_year': {'$lte': 2010}}]}  # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_year':True,'acquisition.price_amount':True,'_id': False } # SELECT

list(colec.find(query,filtro).limit(5)) #ordeno con .sort, limito con .limit

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Plaxo',
  'founded_year': 2002,
  'acquisition': {'price_amount': 150000000}},
 {'name': 'Jajah',
  'founded_year': 2005,
  'acquisition': {'price_amount': 207000000}},
 {'name': 'Skype',
  'founded_year': 2003,
  'acquisition': {'price_amount': 2600000000}},
 {'name': 'YouTube',
  'founded_year': 2005,
  'acquisition': {'price_amount': 1650000000}}]

[]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [36]:
query ={'$and':[{'number_of_employees': {'$lt': 1000}}, 
                {'founded_year': {'$lt': 2005}}]}  # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'number_of_employees':True, 'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(10)) #ordeno con .sort, limito con .limit

[{'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Monster', 'number_of_employees': 0, 'founded_year': 1994},
 {'name': 'EditGrid', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Compete', 'number_of_employees': 0, 'founded_year': 2000},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [57]:


query ={'partners':{'$ne':'null'}} # NULOS
                

filtro = {'name':True,'partners':True, 'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(5)) #ordeno con .sort, limito con .limit

[{'name': 'Wetpaint', 'founded_year': 2005, 'partners': []},
 {'name': 'AdventNet', 'founded_year': 1996, 'partners': []},
 {'name': 'Zoho', 'founded_year': 2005, 'partners': []},
 {'name': 'Digg', 'founded_year': 2004, 'partners': []},
 {'name': 'Facebook', 'founded_year': 2004, 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [79]:
query ={'category_code':None} # WHERE
                

filtro = {'name':True,'category_code':True, 'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(5)) #ordeno con .sort, limito con .limit

[{'name': 'Collective', 'category_code': None, 'founded_year': None},
 {'name': 'Snimmer', 'category_code': None, 'founded_year': None},
 {'name': 'KoolIM', 'category_code': None, 'founded_year': None},
 {'name': 'Level9 Media', 'category_code': None, 'founded_year': None},
 {'name': 'VidKing', 'category_code': None, 'founded_year': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [66]:
query ={'$and':[{'number_of_employees': {'$gte': 100}},  # WHERE {VALOR : {CONDICIONAL : CONDICION}}
                {'number_of_employees': {'$lte': 1000}}]} 

filtro = {'name':True,'number_of_employees':True, '_id': False} # SELECT

list(colec.find(query,filtro).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [89]:
query = {}

filtro = {'name':True,'ipo.valuation_amount':True, '_id': False}

list(colec.find(query,filtro).sort('ipo.valuation_amount', -1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [91]:
query = {}

filtro = {'name':True,'number_of_employees':True, '_id': False}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [94]:
query = {'founded_month': {'$gt': 6}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_month':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(5)) #ordeno con .sort, limito con .limit

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [96]:
query = {'founded_year': {'$lte': 2000}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(20)) #ordeno con .sort, limito con .limit

[{'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Postini', 'founded_year': 1999},
 {'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'eBay', 'founded_year': 1995},
 {'name': 'CBS', 'founded_year': 1986},
 {'name': 'Viacom', 'founded_year': 1971},
 {'name': 'Cisco', 'founded_year': 1984},
 {'name': 'Yahoo!', 'founded_year': 1994},
 {'name': 'Google', 'founded_year': 1998},
 {'name': 'Intel', 'founded_year': 1968},
 {'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000},
 {'name': 'MeeVee', 'founded_year': 2000},
 {'name': 'SideStep', 'founded_year': 1999},
 {'name': 'BabyCenter', 'founded_year': 1997},
 {'name': 'Zazzle', 'founded_year': 1999},
 {'name': 'Ticketmaster', 'founded_year': 1976},
 {'name': 'RegOnline', 'founded_year': 1996},
 {'name': 'Scripps Networks Interactive', 'founded_year': 1994},
 {'name': 'Recipezaar', 'founded_year': 1999}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [101]:
query = {'acquisition.acquired_year': {'$gt': 2010}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'acquisition':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(3)) #ordeno con .sort, limito con .limit

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [106]:
query = {} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('founded_year',-1).limit(10)) #ordeno con .sort, limito con .limit

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [110]:
query = {'founded_day': {'$lte': 7}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'founded_day':True,'acquisition.price_amount':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(3)) #ordeno con .sort, limito con .limit

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [115]:
query ={'$and':[{'category_code':'web'},  # WHERE {VALOR : {CONDICIONAL : CONDICION}}
                {'number_of_employees': {'$gt': 4000}}]} 

filtro = {'name':True,'category':True,'number_of_employees':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('number_of_employees',1).limit(3)) #ordeno con .sort, limito con .limit

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [122]:
query ={'$and':[{'acquisition.price_amount':{'$gt':10000000}},  # WHERE {VALOR : {CONDICIONAL : CONDICION}}
                {'acquisition.price_currency_code':'EUR'}]} 

filtro = {'name':True,'category':True,'acquisition.price_amount':True,'acquisition.price_currency_code':True,'_id': False} # SELECT

list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(3)) #ordeno con .sort, limito con .limit

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [126]:
query = {'acquisition.acquired_month': {'$lte': 3}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'acquisition':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(10)) #ordeno con .sort, limito con .limit

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [130]:
query ={'$and':[{'founded_year': {'$gte': 2000}},  # WHERE {VALOR : {CONDICIONAL : CONDICION}}
                {'founded_year': {'$lte': 2010}},
                {'acquisition.acquired_year': {'$gte': 2011}}]} 

filtro = {'name':True,'acquisition.acquired_year':True, '_id': False} # SELECT

list(colec.find(query,filtro).limit(5))

[{'name': 'Wetpaint', 'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_year': 2011}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [132]:
query = {'deadpooled_year': {'$gt': 3}} # WHERE {VALOR : {CONDICIONAL : CONDICION}}

filtro = {'name':True,'deadpooled_year':True,'_id': False} # SELECT

list(colec.find(query,filtro).limit(10)) #ordeno con .sort, limito con .limit

[{'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008},
 {'name': 'EQO', 'deadpooled_year': 2012}]