# Advanced Querying Mongo

Importing libraries and setting up connection

In [6]:
from pymongo import MongoClient

str_conn='mongodb://localhost:27017'
cursor = MongoClient(str_conn)

import warnings
warnings.filterwarnings('ignore')

db=cursor.companies

colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [7]:
# Your Code
query={'name': 'Babelgum'}

filtro={'name': True, '_id': False}

list(colec.find(query, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [23]:
# Your Code
query={'number_of_employees': {'$gt': 5000}}

filtro={'name': True, '_id': False, 'number_of_employees': True}

list(colec.find(query, filtro).sort('number_of_employees', -1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [24]:
# Your Code
query={'$and': [{'founded_year': {'$gte': 2000}},
                {'founded_year': {'$lte': 2005}}]}

filtro={'name': True, 'founded_year': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [25]:
# Your Code
query={'$and': [{'ipo.valuation_amount': {'$gt': 100000000}},
                {'founded_year': {'$lt': 2010}}]}

filtro={'name': True, 'ipo': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [30]:
# Your Code
query={'$and': [{'number_of_employees': {'$lt': 1000}},
                {'founded_year': {'$lt': 2005}}]}

filtro={'name': True, 'number_of_employees': True, '_id': False}

list(colec.find(query, filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Yelp', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [57]:
# Your Code
query={'partners': {'$size': 0}}

filtro={'name': True, 'partners': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [58]:
# Your Code
query={'category_code': None}

filtro={'name': True, 'category_code': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [63]:
# Your Code
query={'$and': [{'number_of_employees': {'$gte': 100}},
                {'number_of_employees': {'$lte': 1000}}]}

filtro={'name': True, 'number_of_employees': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [83]:
# Your Code
query={'ipo': {'$not': {'$size': 0}}}

filtro={'name': True, 'ipo': True, '_id': False}

list(colec.find(query, filtro).sort('ipo.valuation_amount', -1).limit(10))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}},
 {'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'HK:0700'}},
 {'name': 'Western Digital',
  'ipo': {'valuation_amount': 9430000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NYSE:WDC'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [76]:
# Your Code
query={'number_of_employees': {'$not': {'$size': 0}}}

filtro={'name': True, 'number_of_employees': True, '_id': False}

list(colec.find(query, filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [84]:
# Your Code
query={'founded_month': {'$gt': 6}}

filtro={'name': True, 'founded_month': True, '_id': False}

#list(colec.find(query, filtro).limit(1000))
list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [92]:
# Your Code
query={'$and': [{'founded_year': {'$lt': 2000}},
                {'acquisition.price_amount': {'$gt': 10000000}}]}

filtro={'name': True, 'founded_year': True, 'acquisition.price_amount': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [95]:
# Your Code
query={'acquisition.acquired_year': {'$gt': 2010}}

filtro={'name': True, 'acquisition': True, '_id': False}

list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/05/22/sap-to-acquire-ariba-for-4-3-billion/',
   'source_description': 'SAP To Acquire Ariba For $4.3 Billion',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2011/09/12/broadcom-buys-chipmaker-netlogic-for-3-7-billion/',
   'source_description': 'Broadcom Buys Chipmaking Technology Company Netlogic For $3.7 Billion',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 12,
   'acquiring_company': {'name': 'Broadcom', 'permalink': 'broadcom'}}},
 {'name': 'SuccessFactors',
  'acquisition': {'price_amount': 3400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/02/22/successfactors-sap/',
   'source_description': 'After Closing $3.4B Acquisition Of SuccessFactors, SAP Pushes Human Capital Management In The Cloud',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Qualcomm Atheros',
  'acquisition': {'price_amount': 3100000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.sdbj.com/news/2011/may/24/qualcomm-brings-atheros-fold/',
   'source_description': 'Qualcomm Brings Atheros Into the Fold',
   'acquired_year': 2011,
   'acquired_month': 5,
   'acquired_day': 5,
   'acquiring_company': {'name': 'Qualcomm', 'permalink': 'qualcomm'}}},
 {'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2011/04/11/level-3-to-acquire-global-crossing-for-3-billion-in-stock/',
   'source_description': 'Level 3 To Acquire Global Crossing For $3 Billion In Stock',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Level 3 Communications',
    'permalink': 'level-3'}}},
 {'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2011/04/11/level-3-to-acquire-global-crossing-for-3-billion-in-stock/',
   'source_description': 'Level 3 To Acquire Global Crossing For $3 Billion In Stock',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Level 3 Communications',
    'permalink': 'level-3'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [107]:
# Your Code
query={'founded_year': {'$ne': None}}

filtro={'name': True, 'founded_year': True, '_id': False}

list(colec.find(query, filtro).sort('founded_year', -1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [111]:
# Your Code
query={'founded_month': {'$lte': 7}}

filtro={'name': True, 'founded_month': True, 'acquisition.price_amount': True, '_id': False}

list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Sun Microsystems',
  'founded_month': 2,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Siebel Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 5850000000}},
 {'name': 'Netscape',
  'founded_month': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'SuccessFactors',
  'founded_month': 5,
  'acquisition': {'price_amount': 3400000000}},
 {'name': 'YouTube',
  'founded_month': 2,
  'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos',
  'founded_month': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Meraki',
  'founded_month': 4,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr',
  'founded_month': 2,
  'acquisition': {'price_amount': 1100000000}},
 {'name': 'Alibaba',
  'founded_month': 6,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Kiva Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 775000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [113]:
# Your Code
query={'$and': [{'category_code': 'web'},
                {'number_of_employees': {'$gt': 4000}}]}

filtro={'name': True, 'category_code': True, 'number_of_employees': True, '_id': False}

list(colec.find(query, filtro).sort('number_of_employees', 1).limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [115]:
# Your Code
query={'$and': [{'acquisition.price_currency_code': 'EUR'},
                {'acquisition.price_amount': {'$gt': 10000000}}]}

filtro={'name': True, 'acquisition.price_currency_code': True, 'acquisition.price_amount': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [118]:
# Your Code
query={'acquisition.acquired_month': {'$lt': 4}}

filtro={'name': True, 'acquisition': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [141]:
# Your Code
query={'$and': [{'founded_year': {'$gte': 2000}},
                {'founded_year': {'$lte': 2010}},
                {'acquisition.acquired_year': {'$gte': 2011}}]}

filtro={'name': True, 'founded_year': True, 'acquisition.acquired_year': True, '_id': False}

list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [145]:
# Your Code
query={'result':{'$subtract':['$deadpooled_year', '$founded_year']}}

filtro={'name': True, 'deadpooled_year': True, '_id': False}

list(colec.aggregate(query, filtro).limit(10))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'permalink': 'omnidrive',
  'crunchbase_url': 'http://www.crunchbase.com/company/omnidrive',
  'homepage_url': 'http://www.omnidrive.com',
  'blog_url': 'http://www.omnidrive.com/blog',
  'blog_feed_url': 'http://feeds.feedburner.com/omnidrive',
  'twitter_username': 'Nomadesk',
  'category_code': 'network_hosting',
  'number_of_employees': None,
  'founded_year': 2005,
  'founded_month': 11,
  'founded_day': 1,
  'deadpooled_year': 2008,
  'deadpooled_month': 9,
  'deadpooled_day': 15,
  'deadpooled_url': '',
  'tag_list': 'storage, sharing, edit, online',
  'alias_list': None,
  'email_address': 'info@omnidrive.com',
  'phone_number': '660-675-5052',
  'description': None,
  'created_at': 'Sun May 27 03:25:32 UTC 2007',
  'updated_at': 'Tue Jul 02 22:48:04 UTC 2013',
  'overview': '<p>Currently in public beta, Omnidrive makes it easy to access, edit and share your files from any computer with a web browser. The site was founded in late 2004 by Nik Cubrilovic and later launched at the November 2006 Web 2.0 Conference.  An interesting slew of features make Omnidrive an attractive choice in the online file storage field.</p>\n\n<p>Omnidrive&#8217;s competitors include <a href="http://www.crunchbase.com/company/box-net" title="Box.net">Box.net</a>, <a href="http://www.streamload.com" title="Streamload" rel="nofollow">Streamload</a> and <a href="http://www.xdrive.com" title="Xdrive" rel="nofollow">Xdrive</a>.</p>',
  'image': {'available_sizes': [[[150, 85],
     'assets/images/resized/0000/0823/823v1-max-150x150.jpg'],
    [[150, 85], 'assets/images/resized/0000/0823/823v1-max-250x250.jpg'],
    [[150, 85], 'assets/images/resized/0000/0823/823v1-max-450x450.jpg']],
   'attribution': None},
  'products': [{'name': 'Omnidrive', 'permalink': 'omnidrive'}],
  'relationships': [{'is_past': True,
    'title': 'Co-founder',
    'person': {'first_name': 'Geoff',
     'last_name': 'McQueen',
     'permalink': 'geoff-mcqueen'}},
   {'is_past': True,
    'title': 'Founder & CEO',
    'person': {'first_name': 'Nik',
     'last_name': 'Cubrilovic',
     'permalink': 'nik-cubrilovic'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Tony',
     'last_name': 'Guntharp',
     'permalink': 'tony-guntharp'}},
   {'is_past': True,
    'title': 'Board of Advisors',
    'person': {'first_name': 'Mike',
     'last_name': 'Cannon-Brookes',
     'permalink': 'mike-cannon-brookes'}}],
  'competitions': [{'competitor': {'name': 'Dropbox', 'permalink': 'dropbox'}},
   {'competitor': {'name': 'filobite', 'permalink': 'filobite'}},
   {'competitor': {'name': 'digitalbucket.net', 'permalink': 'digitalbucket'}},
   {'competitor': {'name': 'ElephantDrive', 'permalink': 'elephantdrive'}},
   {'competitor': {'name': 'Banckle Customer Service 2.0',
     'permalink': 'banckle'}}],
  'providerships': [],
  'total_money_raised': '$800k',
  'funding_rounds': [{'id': 225,
    'round_code': 'angel',
    'source_url': '',
    'source_description': '',
    'raised_amount': 800000,
    'raised_currency_code': 'USD',
    'funded_year': 2006,
    'funded_month': 12,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': None,
      'person': {'first_name': 'Michael',
       'last_name': 'Arrington',
       'permalink': 'michael-arrington'}},
     {'company': None,
      'financial_org': None,
      'person': {'first_name': 'Aydin',
       'last_name': 'Senkut',
       'permalink': 'aydin-senkut'}},
     {'company': None,
      'financial_org': None,
      'person': {'first_name': 'Georges',
       'last_name': 'Harik',
       'permalink': 'georges-harik'}},
     {'company': None,
      'financial_org': None,
      'person': {'first_name': 'Jeff',
       'last_name': 'Clavier',
       'permalink': 'jeff-clavier'}}]}],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': 'Suite 200',
    'address2': '654 High Street',
    'zip_code': '94301',
    'city': 'Palo Alto',
    'state_code': 'CA',
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]